//META{"name":"MinimalImprovementBorderless","description":"REQUIRES MINIMAL MODE. Dark mode, made geometric and sleek. Now without borders. Message me if you have a plugin/theme that you need compatibility for or if you found something not themed.","author":"Juicysteak117#1835","version":"2.71"}*//{}
/* Shoutout to all the boys in #css-and-themes in BD2 for all the help they've given. */

@import url(https://rawgit.com/Juicysteak117/MinimalImprovement/master/TheBorderlessSource.raw.css);
